{% extends 'base.html.twig' %}

{% block title %}
    {% block title_content %}{% endblock %}
{% endblock %}

{% block body %}
    <div class="main-content">
        <div>
            <h1>{% block heading_content %}{% endblock %}</h1>
            {{ form_start(form) }}

            <fieldset>
                <legend>{{ 'animal.form.group.required_info'|trans }}</legend>
                <div class="form_group">
                    <div class="form_group_item">
                        <div>{{ form_row(form.animal_internal_id) }}</div>
                        <div>{{ form_row(form.admission_date) }}</div>
                    </div>
                    <div class="form_group_item">
                        <div>{{ form_row(form.species) }}</div>
                        <div id="breed-field-wrapper">
                            <label for="{{ form.breed.vars.id }}">Breed</label>
                            {{ form_widget(form.breed) }}
                            <datalist id="breed-list"></datalist>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="resize_children">
                <legend>{{ 'animal.form.group.other_info'|trans }}</legend>
                {{ form_row(form.enclosure) }}
            </fieldset>

            <fieldset class="resize_children">
                <legend>{{ 'animal.form.group.physical_attributes'|trans }}</legend>
                <div class="form_group">
                    {{ form_row(form.gender) }}
                    {{ form_row(form.approximate_age) }}
                    {{ form_row(form.color) }}
                    {{ form_row(form.distinctive_marks) }}
                    {{ form_row(form.size) }}
                    <div>
                        {{ form_row(form.weight) }}
                        <label id="weight-in-kg"></label>
                    </div>
                </div>
            </fieldset>

            <fieldset class="resize_children">
                <legend>{{ 'animal.form.group.info_for_adoption'|trans }}</legend>
                {{ form_row(form.animal_name) }}
                {{ form_row(form.birth_date) }}
                {{ form_row(form.adoption_status) }}
                {{ form_row(form.adoption_date) }}
            </fieldset>

            <fieldset class="resize_children">
                <legend>{{ 'animal.form.group.identification'|trans }}</legend>
                {{ form_row(form.chip_number) }}
                {{ form_row(form.description) }}
            </fieldset>

            {% block form_buttons %}
            {% endblock %}

            {{ form_end(form) }}
        </div>
        <div>
            {% block right_block %}
            {% endblock %}
        </div>

        {% block additional_content %}
        {% endblock %}

    </div>

    <script>
        $(document).ready(function() {
            function updateBreeds(species) {
                var datalist = $('#animal_breed');
                datalist.empty();
                $.ajax({
                    url: '/breed/list_by_species/' + species,
                    dataType: 'json',
                    success: function(data) {
                        if(data.length > 0) {
                            $.each(data, function(index, breed) {
                                datalist.append($('<option>', {
                                    value: breed.id,
                                    text: breed.breedName
                                }));
                            });
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.error('Error while requesting breeds.', textStatus, errorThrown);
                    }
                });
            }
            var speciesSelect = $('#animal_species');
            speciesSelect.change(function() {
                var selectedSpecies = $(this).val();
                if (selectedSpecies) {
                    updateBreeds(selectedSpecies);
                } else {
                    $('#breed-list').empty();
                }
            });
        });

        function updateWeightLabel() {
            var grams = parseFloat($('#animal_weight').val());
            if (!isNaN(grams)) {
                var kilograms = grams / 1000;
                $('#weight-in-kg').text(kilograms + ' kg');
            } else {
                $('#weight-in-kg').text('0 kg');
            }
        }

        $(document).ready(function() {
            updateWeightLabel();

            $('#animal_weight').on('input change', function() {
                updateWeightLabel();
            });
        });
    </script>
{% endblock %}