{# templates/animal/edit.html.twig #}
{% extends 'animal/_form_base.html.twig' %}

{% block title_content %}
    {{ 'animal.edit.title'|trans }}
{% endblock %}

{% block heading_content %}
    {{ 'animal.edit.title'|trans }}
{% endblock %}

{% block navigation %}
    <a href="{{ path('print_internal', {'id': animal.getId()}) }}">{{ 'print_internal_card'|trans }}</a>
{% endblock %}

{% block right_block %}
    <h2>{{ 'animal.photos.add'|trans }}</h2>

    {% for photo in animal.animalPhoto %}
        <img src="{{ asset(photo.getFilenameBig()) }}">
        <form action="{{ path('animal_photo_delete', {'photoId': photo.getId()}) }}" method="post" style="display:inline;">
            <button type="submit" class="btn btn-danger">{{ 'animal.photos.delete.label'|trans }}</button>
        </form>
    {% else %}
        {{ 'animal.photos.empty'|trans }}
    {% endfor %}

    <form action="{{ path('animal_photo_add', {'animalId': animal.getId()}) }}" method="post" enctype="multipart/form-data">
        <input type="file" name="photo" required>
        <button type="submit" class="btn btn-primary">{{ 'animal.photos.add'|trans }}</button>
    </form>

    <h2>{{ 'animal_history.last_changes'|trans }}</h2>
    {% for animalHistory in animal_histories %}
        <div style="display:block; float:left; width:100%">
            <div style="display:block; float:left; width:20%">{{ animalHistory.getDatetime()|date('Y-m-d') }}</div>
            <div style="display:block; float:left; width:30%">{{ animalHistory.getUser().getFullName() }}</div>
            <div style="display:block; float:left; width:50%">{{ animalHistory.getBefore()|diff(animalHistory.getAfter()) }}</div>
        </div>
    {% else %}
        {{ 'animal_history.no_last_changes'|trans }}
    {% endfor %}

    <br />
    <a href="{{ path('animal_history_show', {'animalId': animal.getId()}) }}">{{ 'animal_history.show_all'|trans }}</a>
{% endblock %}

{% block form_buttons %}
    <button class="btn btn-primary">{{ 'animal.edit.button'|trans }}</button>
{% endblock %}