{% extends 'animal/_form_base.html.twig' %}

{% block title_content %}
    {{ 'animal.edit.title'|trans }}
{% endblock %}

{% block heading_content %}
    {{ 'animal.edit.title'|trans }}
{% endblock %}

{% block form_buttons %}
    <button class="btn btn-primary">{{ 'animal.edit.button'|trans }}</button>
{% endblock %}

{% block additional_content %}
    <div>
{#  {{ form_start(form_photo) }}
        <h2>{{ 'animal.photos.title'|trans }}</h2>
        <fieldset class="resize_children">
            <div id="animal-photos">
                {% if animal.animalPhotos is not empty %}
                    {% for photo in animal.animalPhotos %}
                        <div class="animal-photo">
                            <img src="{{ asset(photo.filename) }}" alt="{{ animal.animalName }}" class="img-thumbnail">
                        </div>
                    {% endfor %}
                {% else %}
                    <p>{{ 'animal.photos.empty'|trans }}</p>
                {% endif %}
            </div>
        </fieldset>

        <h3>{{ 'animal.photos.add'|trans }}</h3>
        <fieldset class="resize_children">
            {{ form_errors(form_photo) }}
            {{ form_row(form_photo.photo) }}
            <button class="btn btn-secondary">{{ 'animal.photos.upload'|trans }}</button>
        </fieldset>
        {{ form_end(form_photo) }}#}
    </div>
{% endblock %}