{# templates/animal/edit.html.twig #}
{% extends 'animal/_form_base.html.twig' %}

{% block title_content %}
    {{ 'animal.edit.title'|trans }}
{% endblock %}

{% block heading_content %}
    {{ 'animal.edit.title'|trans }}
{% endblock %}

{% block right_block %}
    <h2>{{ 'animal.photos.add'|trans }}</h2>

    {% for photo in animal.animalPhoto %}
        <img src="{{ asset(photo.getFilenameBig()) }}">
        <form action="{{ path('animal_photo_delete', {'photoId': photo.getId()}) }}" method="post" style="display:inline;">
            <button type="submit" class="btn btn-danger">{{ 'animal.photos.delete.label'|trans }}</button>
        </form>
    {% else %}
        {{ 'animal.photos.empty'|trans }}
    {% endfor %}

    <form action="{{ path('animal_photo_add', {'animalId': animal.getId()}) }}" method="post" enctype="multipart/form-data">
        <input type="file" name="photo" required>
        <button type="submit" class="btn btn-primary">{{ 'animal.photos.add'|trans }}</button>
    </form>
{% endblock %}

{% block form_buttons %}
    <button class="btn btn-primary">{{ 'animal.edit.button'|trans }}</button>
{% endblock %}