{# templates/animal/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ 'animal.list.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'animal.list.title'|trans }}</h1>

    <a href="{{ path('animal_add')}}" class="button">{{ 'animal.list.button_add_new'|trans }}</a>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Rasa</th>
            <th>Waga</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        {% for animal in animals %}
            <tr>
                <td>{{ animal.getAnimalInternalId() }}</td>
                <td>{{ animal.getSpecies() }}</td>
                <td>{{ animal.getWeight() }}</td>
                <td>
                    <a href="{{ path('animal_edit', {id: animal.getId()}) }}">{{ 'animal.list.button_edit'|trans}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'animal.list.empty'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}