{# templates/animal/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ 'animal.list.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'animal.list.title'|trans }}</h1>

    <a href="{{ path('animal_add')}}" class="button">{{ 'animal.list.button_add_new'|trans }}</a>

    <table class="table">
        <thead>
        <tr>
            <th>{{ 'animal.list.id'|trans }}</th>
            <th>{{ 'animal.list.photo'|trans }}</th>
            <th>{{ 'animal.list.internal_id'|trans }}</th>
            <th>{{ 'animal.list.species'|trans }}</th>
            <th>{{ 'animal.list.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for animal in animals %}
            <tr>
                <td>{{ animal.getId() }}</td>
                <td>
                    {% if animal.getAnimalPhoto()|length > 0 %}
                        {% set firstPhoto = animal.animalPhoto|first %}
                        <img src="{{ asset(firstPhoto.getFilenameSmall()) }}" alt="{{ animal.getAnimalName() }}" width="50">
                    {% else %}
                        {# <img src="{{ asset('uploads/placeholder.jpg') }}" alt="No photo" width="50"> #}
                    {% endif %}
                </td>
                <td>{{ animal.getAnimalInternalId() }}</td>
                <td>
                    {% if animal.getSpecies() is not null %}
                        {{ animal.getSpecies().getSpeciesName()|trans }}
                    {% else %}
                        {{ 'not_set'|trans }}
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('animal_edit', {id: animal.getId()}) }}" class="button">{{ 'animal.list.button_edit'|trans}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'animal.list.empty'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}